* {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202632;
}

.bloco-preto {
    width: 33.75em;
    height: 20.625em;
    background-color: #313a49;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.titulo {
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 43px;
}

.paragrafo {
    font-size: 27px;
    width: 80%;
    text-align: center;
    font-weight: 700;
    color: hsl(193, 38%, 86%);
    margin: 23px;
}

picture {
    margin: auto 27px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    transform: translateY(50%);
    background-color: #52fea9;
    cursor: pointer;
}

button:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0px 0px 15px hsl(150, 100%, 66%);

}

@media(max-width: 768px){
    .bloco-preto{
        padding-inline: 50px;
        width: 386px;
    }
    .bloco-preto p{
        font-size: 21px;
        padding: 26px;
    }
}
